.site-health-copy-buttons {

	display: block;
	margin: 1rem 0;

	.copy-button-wrapper {

		margin: 0.5rem 0 1rem;
	}

	.success {

		display: none;
		color: #40860a;
		height: 28px;
		line-height: 2.2;
		margin-left: 0.5rem;

		&.visible {

			display: inline-block;
		}
	}
}

#health-check-debug {

	margin-bottom: 3rem;
}

.health-check-wp-paths-sizes {

	&.spinner {

		position: absolute;
		visibility: visible;
		float: none;
		margin: 0 4px;
	}
}
