$font_size__text: 13px;
$font_size__nav: 1.2rem;
$font_size__h1: 23px;
$font_size__h2: 1.3rem;
$font_size__h3: 1.3rem;

$font_color__troubleshooting_mode: #72777c;

$font_family__h1: inherit;
$font_family__h2: inherit;
$font_family__h3: inherit;

$breakpoint_min__medium: 784px;
$breakpoint_min__large: 960px;
