<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards">
    <description>Apply WordPress Coding Standards to all Health Check plugin files.</description>

    <config name="installed_paths" value="vendor/wp-coding-standards/wpcs" />

    <rule ref="WordPress-Core"/>

    <arg name="extensions" value="php"/>

    <!-- Show sniff codes in all reports -->
    <arg value="s"/>

    <file>.</file>

    <rule ref="Internal.NoCodeFound">
        <severity>0</severity>
    </rule>

    <!-- Our MU plugin uses a different file-name scheme from what is expected for the sake of simplicity. -->
    <rule ref="WordPress.Files.FileName.InvalidClassFileName">
        <exclude-pattern>*/mu-plugin/health-check-troubleshooting-mode.php</exclude-pattern>
    </rule>

    <!-- Some class functions in the auto update tester do not follow conventions, as they instead
    directly represent constants being used, this makes them easier to glance over -->
    <rule ref="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid">
        <exclude-pattern>*/class-health-check-auto-updates.php</exclude-pattern>
    </rule>

	<!-- Do not perform checks inside external package directories. -->
	<exclude-pattern>vendor/</exclude-pattern>
	<exclude-pattern>node_modules/</exclude-pattern>

	<!-- Do not perform checks on the `build` directory. -->
	<exclude-pattern>build/</exclude-pattern>

</ruleset>
