$font_size__text: 1rem;
$font_size__nav: 1.2rem;
$font_size__h1: 2.5rem;
$font_size__h2: 1.5rem;
$font_size__h3: 1.3rem;

$font_color__troubleshooting_mode: #72777c;

$font_family__h1: "Noto serif", serif;
$font_family__h2: "Noto serif", serif;
$font_family__h3: "Noto serif", serif;

$breakpoint_min__medium: 784px;
$breakpoint_min__large: 960px;
