body {

	&.dashboard_page_health-check {

		#wpcontent {
			padding-left: 0;
		}

		.wrap {

			margin-right: 0;
			margin-left: 0;
		}

		p {

			font-size: 1rem;
		}

		.wp-core-ui {

			.button {

				font-size: 1rem;
			}
		}

		background: #fff;

		.health-check-header {

			text-align: center;
			margin-bottom: 3rem;
			border-bottom: 2px solid #ccc;

			h1 {

				display: inline-block;
				font-weight: 600;
				font-size: 2.5rem;
				margin: 2rem 0.8rem 2rem 2rem;
			}

			.tabs-wrapper {

				display: block;

				.tab {

					float: none;
					display: inline-block;
					text-decoration: none;
					color: inherit;
					font-size: 1.2rem;
					padding: 0.5rem;
					margin: 0 1rem;
					border-bottom: 4px solid transparent;
					transition: border 0.5s ease-in-out;

					&.active {

						border-bottom: 4px solid #00a0d2;
						font-weight: 600;
					}

					&:focus,
					&:hover,
					&:active {

						border-bottom: 4px solid #00a0d2;
					}
				}
			}
		}

		.health-check-body {

			max-width: 800px;
			width: 100%;
			margin: 0 auto;
		}

		.health-check-table {

			thead {

				th,
				td {

					font-size: 1rem;

					&:first-child {

						width: 30%;
					}
				}
			}

			tbody {

				td {

					width: 70%;
					font-size: 1rem;

					&:first-child {

						width: 30%;
					}

					ul,
					ol {
						margin: 0;
					}
				}
			}
		}

		.pass,
		.good {

			&:before {

				content: "\f147";
				display: inline-block;
				color: #46b450;
				font-family: dashicons;
			}
		}

		.warning {

			&:before {

				content: "\f460";
				display: inline-block;
				color: #ffb900;
				font-family: dashicons;

			}
		}

		.info {

			&:before {

				content: "\f348";
				display: inline-block;
				color: #00a0d2;
				font-family: dashicons;
			}
		}

		.fail,
		.error {

			&:before {

				content: "\f335";
				display: inline-block;
				color: #dc3232;
				font-family: dashicons;
			}
		}

		.spinner {
			float: none;
		}

		/* Info screen styles */
		@import "modules/info";

		/* Tools screen styles */
		@import "modules/tools";

		/* Diff viewer styles */
		@import "modules/diff-viewer";

		/* Site Status styles */
		@import "modules/site-status";
	}
}

/* Accordion styles */
@import "modules/accordion";

/* Modal styles */
@import "modules/modal";
