body {

	&.dashboard_page_health-check {

		.health-check-table {

			thead {

				th,
				td {

					&:first-child {

						width: 20%;
					}
				}
			}

			tbody {

				td {

					width: 80%;

					&:first-child {

						width: 20%;
					}

					ul,
					ol {
						margin: 0;
					}
				}
			}
		}

		.pass,
		.good {

			&:before {

				content: "\f147";
				display: inline-block;
				color: #46b450;
				font-family: dashicons;
			}
		}

		.warning {

			&:before {

				content: "\f460";
				display: inline-block;
				color: #ffb900;
				font-family: dashicons;

			}
		}

		.info {

			&:before {

				content: "\f348";
				display: inline-block;
				color: #00a0d2;
				font-family: dashicons;
			}
		}

		.fail,
		.error {

			&:before {

				content: "\f335";
				display: inline-block;
				color: #dc3232;
				font-family: dashicons;
			}
		}

		.spinner {
			float: none;
		}

		/* Tools screen styles */
		@import "modules/tools";

		/* Diff viewer styles */
		@import "modules/diff-viewer";

	}
}

/* Accordion styles */
@import "modules/accordion";

/* Modal styles */
@import "modules/modal";
