.health-check-accordion {

	border: 1px solid hsl(0, 0%, 82%);

	dt {

		font-weight: 600;
		border-top: 1px solid hsl(0, 0%, 82%);

		&:first-child {

			border-radius: 0.3em 0.3em 0 0;
			border-top: none;
		}
	}

	.health-check-accordion-trigger {

		background: #fff;
		border: 0;
		color: hsl(0, 0%, 13%);
		display: block;
		font-size: $font_size__text;
		font-weight: 400;
		margin: 0;
		padding: 1em 1.5em;
		position: relative;
		text-align: left;
		width: 100%;

		&:hover,
		&:focus,
		&:active {

			background: hsl(0, 0%, 87%);
		}

		.title {

			display: inline-block;
			pointer-events: none;
			font-weight: 600;
		}

		.icon {

			border: solid #191e23;
			border-width: 0 2px 2px 0;
			height: 0.5rem;
			pointer-events: none;
			position: absolute;
			right: 1.5em;
			top: 50%;
			transform: translateY(-60%) rotate(45deg);
			width: 0.5rem;
		}

		.badge {

			display: inline-block;
			padding: 0 0.5rem;
			background-color: #dcdcdc;
			color: #000;
			font-weight: 600;
			margin-left: 0.5rem;

			&.blue {

				background-color: #0073af;
				color: #fff;
			}

			&.orange {

				background-color: #ffb900;
				color: #000;
			}

			&.red {

				background-color: #dc3232;
				color: #fff;
			}

			&.green {

				background-color: #40860a;
				color: #fff;
			}

			&.pink {

				background-color: #f4b0fc;
				color: #000;
			}

			&.gray {

				background-color: #ccc;
				color: #000;
			}

			&.light-blue {

				background-color: #10e9fb;
				color: #000;
			}

			&.light-green {

				background-color: #60f999;
				color: #000;
			}
		}

		&[aria-expanded="true"] {

			.icon {

				transform: translateY(-50%) rotate(-135deg);
			}
		}
	}

	.health-check-accordion-panel {

		margin: 0;
		padding: 1em 1.5em;
		background: #fff;

		> div {

			display: block;
		}

		&[hidden] {

			display: none;
		}
	}

	dl {

		dd {

			margin: 0 0 0.5em 2em;
		}
	}
}
