.system-information-copy-wrapper {

	display: block;
	margin: 1rem 0;

	&.hidden {

		display: none;
	}

	textarea {

		width: 100%;
	}

	.copy-button-wrapper {

		margin: 0.5rem 0 1rem;
	}
}

.copy-field-success {

	display: none;
	color: #40860a;
	font-size: $font_size__text;
	line-height: 1.8;
	margin-left: 0.5rem;

	&.visible {

		display: inline-block;
	}
}
