#health-check-site-status-test-wrapper {

	display: none;
}

h3 {

	padding: 0 0.5rem;
	font-size: $font_size__h3;
	font-weight: 600;
	font-family: $font_family__h3;
}

.view-more {

	text-align: center;
}

.issues-wrapper {

	margin-bottom: 5rem;
}
