.site-status-has-issues {

	display: block;

	&.hide {

		display: none;
	}
}

h3 {

	padding: 0 0.5rem;
	font-size: $font_size__h3;
	font-weight: 600;
	font-family: $font_family__h3;
}

.view-more {

	text-align: center;
}

.issues-wrapper {

	margin-bottom: 5rem;
}

.site-status-all-clear {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	width: 100%;
	margin-top: 0;

	@media all and (min-width: $breakpoint_min__medium) {

		margin: 5rem 0;
	}

	&.hide {

		display: none;
	}

	.dashicons {

		font-size: 150px;
		height: 130px;
		width: 150px;
	}

	.encouragement {

		font-family: $font_family__h1;
		font-size: 1.5rem;
		font-weight: 600;
	}

	p {

		margin: 0;
	}
}
