.file-integrity-table {

	thead,
	tbody,
	tfoot {

		th,
		td {

			&:first-child {

				text-align: center;
				width: 60px;
			}
		}
	}
}

.tools-email-table {

	border: 0;
	box-shadow: none;

	td {

		&:first-child {
			width: 280px;
		}

		@media (max-width: 768px) {
			display: block;
		}

	}

	input {
		width: 100%;
	}

	label {
		display: block;
		clear: both;
	}

}

#health-check-mail-check,
#health-check-file-integrity {

	margin-bottom: 15px;
}
