.file-integrity-table {

	thead,
	tbody,
	tfoot {

		th,
		td {

			&:first-child {

				text-align: center;
				width: 60px;
			}
		}
	}
}

.tools-email-table {

	border: 0;
	box-shadow: none;

	td {

		&:first-child {
			width: 280px;
		}

		@media (max-width: 768px) {
			display: block;
		}

	}

	input {
		width: 100%;
	}

	label {
		display: block;
		clear: both;
	}

}

#health-check-mail-check,
#health-check-file-integrity {

	margin-bottom: 15px;
}

#tools-enable-wp-debug-response-holder,
#tools-disable-wp-debug-response-holder {
	margin-top: 20px;
}

#tools-wp-debug-output {
	width: 100%;
	height: 500px;
	margin-top: 20px;
	margin-bottom: 20px;

	textarea {
		font-family: Consolas, Monaco, monospace; font-size: 14px;
		width: 100%;
		height: 100%;
	}
}

.tools-debug-on {
	form {
		display: inline-block;
	}

	#health-check-start-stop-wp-debug {
		#start-refresh {
			display: none;
		}
	}
}
