body.dashboard_page_health-check .health-check-table tbody td {
	width: 80%;
}

body.dashboard_page_health-check .health-check-table tbody td ul,
body.dashboard_page_health-check .health-check-table tbody td ol {
	margin: 0;
}

body.dashboard_page_health-check .health-check-table thead th:first-child,
body.dashboard_page_health-check .health-check-table tbody td:first-child {
	width: 20%;
}

body.dashboard_page_health-check .file-integrity-table thead th:first-child,
body.dashboard_page_health-check .file-integrity-table tbody td:first-child,
body.dashboard_page_health-check .file-integrity-table tfoot td:first-child {
	text-align: center;
	width: 80px;
}

body.dashboard_page_health-check #health-check-mail-check,
body.dashboard_page_health-check #health-check-file-integrity {
	margin-bottom: 15px;
}

body.dashboard_page_health-check .pass:before,
body.dashboard_page_health-check .good:before {
	content: "\f147";
	display: inline-block;
	color: #46b450;
	font-family: dashicons;
}

body.dashboard_page_health-check .warning:before {
	content: "\f460";
	display: inline-block;
	color: #ffb900;
	font-family: dashicons;
}

body.dashboard_page_health-check .info:before {
	content: "\f348";
	display: inline-block;
	color: #00a0d2;
	font-family: dashicons;
}

body.dashboard_page_health-check .fail:before,
body.dashboard_page_health-check .error:before {
	content: "\f335";
	display: inline-block;
	color: #dc3232;
	font-family: dashicons;
}

body.dashboard_page_health-check .health-check-modal {
	display: none;
	position: fixed;
	z-index: 1000;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

body.dashboard_page_health-check .health-check-modal .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 30%;
}

body.dashboard_page_health-check .health-check-modal .modal-content .modal-close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

body.dashboard_page_health-check .health-check-modal .modal-content #dynamic-content {
	display: block;
	width: 100%;
}

body.dashboard_page_health-check .health-check-modal .modal-close:hover,
body.dashboard_page_health-check .health-check-modal .modal-close:focus {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

body.dashboard_page_health-check #health-check-diff-modal {
	width: 100vw;
	height: 100%;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	display: none;
	z-index: 99999;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content {
	background: #fff;
	height: calc( 100% - 120px );
	width: calc( 100% - 120px );
	margin-top: 40px;
	margin-left: 40px;
	overflow-y: auto;
	padding: 20px;
	display: block;
}

body.dashboard_page_health-check #health-check-diff-modal-close-ref {
	position: relative;
	display: block;
	float: right;
	color: #000;
	text-decoration: none;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .spinner,
body.dashboard_page_health-check #tools-response-holder .spinner {
	float: none;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .Differences {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .Differences thead th {
	text-align: left;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	color: #000;
	padding: 4px;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .Differences thead th:last-child {
	border-right: 0;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .Differences tbody th {
	text-align: right;
	width: 4em;
	padding: 1px 2px;
	border-right: 1px solid #000;
	vertical-align: top;
	font-size: 13px;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .Differences thead th:first-child,
body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .Differences tbody th:first-child {
		background: #f3f3f3;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .Differences thead th:last-child,
body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .Differences tbody th:last-child {
		background: #fff;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .Differences td {
	padding: 1px 2px;
	font-family: Consolas, monospace;
	font-size: 13px;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .DifferencesSideBySide .ChangeInsert td.Left {
	background: #dfd;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .DifferencesSideBySide .ChangeInsert td.Right {
	background: #cfc;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .DifferencesSideBySide .ChangeDelete td.Left {
	background: #f88;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .DifferencesSideBySide .ChangeDelete td.Right {
	background: #faa;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .DifferencesSideBySide .ChangeReplace .Left {
	background: #fe9;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .DifferencesSideBySide .ChangeReplace .Right {
	background: #fd8;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .Differences ins, .Differences del {
	text-decoration: none;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .DifferencesSideBySide .ChangeReplace ins, .DifferencesSideBySide .ChangeReplace del {
	background: #fc0;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .Differences .Skipped {
	background: #f7f7f7;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .DifferencesInline .ChangeReplace .Left,
body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .DifferencesInline .ChangeDelete .Left {
	background: #fdd;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .DifferencesInline .ChangeReplace .Right,
body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .DifferencesInline .ChangeInsert .Right {
	background: #dfd;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .DifferencesInline .ChangeReplace ins {
	background: #9e9;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content .DifferencesInline .ChangeReplace del {
	background: #e99;
}

body.dashboard_page_health-check #health-check-diff-modal #health-check-diff-modal-content pre {
	width: 100%;
	overflow: auto;
}
