body.dashboard_page_health-check .health-check-table tbody td {
	width: 80%;
}

body.dashboard_page_health-check .health-check-table tbody td ul,
body.dashboard_page_health-check .health-check-table tbody td ol {
	margin: 0;
}

body.dashboard_page_health-check .health-check-table thead th:first-child,
body.dashboard_page_health-check .health-check-table tbody td:first-child {
	width: 20%;
}

body.dashboard_page_health-check .file-integrity-table thead th:first-child,
body.dashboard_page_health-check .file-integrity-table tbody td:first-child,
body.dashboard_page_health-check .file-integrity-table tfoot td:first-child {
	text-align: center;
	width: 80px;
}

body.dashboard_page_health-check #health-check-mail-check,
body.dashboard_page_health-check #health-check-file-integrity {
	margin-bottom: 15px;
}

body.dashboard_page_health-check .pass:before,
body.dashboard_page_health-check .good:before {
	content: "\f147";
	display: inline-block;
	color: #46b450;
	font-family: dashicons;
}

body.dashboard_page_health-check .warning:before {
	content: "\f460";
	display: inline-block;
	color: #ffb900;
	font-family: dashicons;
}

body.dashboard_page_health-check .info:before {
	content: "\f348";
	display: inline-block;
	color: #00a0d2;
	font-family: dashicons;
}

body.dashboard_page_health-check .fail:before,
body.dashboard_page_health-check .error:before {
	content: "\f335";
	display: inline-block;
	color: #dc3232;
	font-family: dashicons;
}

body.dashboard_page_health-check .health-check-modal {
	display: none;
	position: fixed;
	z-index: 1000;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

body.dashboard_page_health-check .health-check-modal .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 30%;
}

body.dashboard_page_health-check .health-check-modal .modal-content .modal-close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

body.dashboard_page_health-check .health-check-modal .modal-content #dynamic-content {
	display: block;
	width: 100%;
}

body.dashboard_page_health-check .health-check-modal .modal-close:hover,
body.dashboard_page_health-check .health-check-modal .modal-close:focus {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

body.dashboard_page_health-check #tools-response-holder .spinner {
	float: left;
}
