body.dashboard_page_health-check .health-check-table tbody td {
	width: 80%;
}

body.dashboard_page_health-check .health-check-table thead th:first-child,
body.dashboard_page_health-check .health-check-table tbody td:first-child {
	width: 20%;
}

body.dashboard_page_health-check .good:before {
	content: "\f147";
	display: inline-block;
	color: #46b450;
	font-family: dashicons;
}

body.dashboard_page_health-check .warning:before {
	content: "\f460";
	display: inline-block;
	color: #ffb900;
	font-family: dashicons;
}

body.dashboard_page_health-check .error:before {
	content: "\f335";
	display: inline-block;
	color: #dc3232;
	font-family: dashicons;
}
