.site-health-issues-wrapper {

	margin-bottom: 3rem;
	margin-top: 2rem;

	&:first-of-type {

		margin-top: 3rem;
	}
}

.site-status-has-issues {

	display: block;

	&.hide {

		display: none;
	}
}

h3 {

	padding: 0;
	font-weight: 400;
}

.site-health-view-more {

	text-align: center;
}

.issues-wrapper {

	margin-bottom: 5rem;
}

.site-status-all-clear {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	width: 100%;
	margin-top: 0;

	@media all and (min-width: $breakpoint_min__medium) {

		margin: 5rem 0;
	}

	&.hide {

		display: none;
	}

	.dashicons {

		font-size: 150px;
		height: 130px;
		width: 150px;
	}

	.wp-logo {

		width: 150px;
		height: 150px;
	}

	.encouragement {

		font-family: $font_family__h1;
		font-size: 1.5rem;
		font-weight: 600;
	}

	p {

		margin: 0;
	}
}

.site-health-view-passed {

	position: relative;
	padding-right: 40px;
	padding-left: 20px;

	.icon {

		border: solid #555d66;
		border-width: 0 2px 2px 0;
		height: 0.5rem;
		pointer-events: none;
		position: absolute;
		right: 1.5em;
		top: 50%;
		transform: translateY(-70%) rotate(45deg);
		width: 0.5rem;
	}

	&[aria-expanded="true"] {

		.icon {

			transform: translateY(-30%) rotate(-135deg);
		}
	}
}
